<% if user_signed_in? %>

<h1>Application Sign Ups (<%= Signup.count %>)</h1>
<%= link_to new_signup_path do %>
<i class="fa fa-plus"></i> &nbsp; Add a New Application Sign Up <% end %><br />
<i>@nblenergy.com, and @nobleenergyinc.com email addresses should automatically validate. ALL OTHER EMAILS MUST BE APPROVED BY NOBLE ADMINS</i>
<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>

      <th>Phone Number</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @signups.each do |signup| %>
      <tr>
        <td><%= signup.signup_name %></td>
        <td><%= signup.signup_email %></td>
  
        <td><%= signup.signup_phone %></td>
        <td>
          <% if signup.signup_status.blank? %>
          New
          <% else %>
          <%= signup.signup_status %>
          <% end %>
          <br />Created: <%= signup.created_at.to_formatted_s(:short) %><br />
                Updated: <%= signup.updated_at.to_formatted_s(:short) %></td>
        <td>
        <%= link_to 'Update', edit_signup_path(signup) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>



<% else %> 
YOU DO NOT HAVE PERMISSION TO ACCESS THIS AREA 
<% end %>
