<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4 text-center">

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label "your email" %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label "your password" %><br />
    <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "login", class: "btn btn-default" %>
  </div>
<% end %>

<br />
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Reset Password", new_password_path(resource_name) %><br />
<% end -%>



</div><!-- end md 4 -->
<div class="col-md-4"></div>
</div><!-- end row -->


