<!DOCTYPE html>
<html>
<head>
  <title>GridMeNow | Noble Energy Application Request</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">

<div class="row">
<div class="col-md-12 text-right">
<% if user_signed_in? %>
<%= link_to signups_path do %>
<i class="fa fa-user"></i> &nbsp; Application Sign Ups <% end %>
&nbsp; 
<%= link_to pages_showusers_path do %>
<i class="fa fa-user"></i> &nbsp; Users <% end %>
&nbsp; 

<%= link_to destroy_user_session_path, method: :delete do %>
<i class="fa fa-sign-out"></i>  &nbsp;  Logout   &nbsp; 
								             <% end %>
<% else %>
<%=  link_to new_user_session_path do %>
<i class="fa fa-sign-in"></i> &nbsp; Sign In <% end %> &nbsp; 
<% end %>

</div><!-- end md 4 -->
</div><!-- end row -->

<div class="row">
<div class="col-md-12 text-left">
<%= link_to image_tag("https://s3.amazonaws.com/gmnnoble/images/nelogo300.png"), root_path %>	

</div><!-- end md 4 -->
</div><!-- end row -->

<br />

<%= yield %>

<hr />
<div class="row">
<div class="col-md-12 text-center" id="footer">&copy; 2015, Powered by <a href="htts://www.gridmenow.com" target="new">GridMeNow</a></div><!-- end md 4 -->
</div><!-- end row -->

</div> <!-- end container -->
</body>
</html>
